@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --border-radius: 50px;
  --card-rgb: 185, 190, 199;
  --card-border-rgb: 145, 140, 137;
  --max-width: 900px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

body {
  background: #f2f4f5;
  color: #333;
  font-family: "Klee One";
  padding-top: 25px;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

.navbar {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 0.5px solid #ddd;
}

.navbar a {
  margin-left: 12px;
}

.navbar .logo {
  margin-right: auto;
}

footer {
  text-align: center;
  padding: 30px 0;
  color: #777;
  margin: 2% auto;
  border-top: 1px solid #c1b9b9;
}

.not-found {
  text-align: center;
}

.not-found a{
  color: #4979ff;
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  footer {
    border-top: 1px solid white;
    color: white;
    max-width: 600px;
    background: #282b30;
  }
  li {
    color: white;
    background: #282b30;
  }
  a {
    color: white;
    background: #282b30;
  }
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #282b30;
  }
}