@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  padding: 0;
  margin: 0;
  font-family: "Yuji Syuku";
  color: white;
  background: #282b30;
}

a {
  color: #333;
  text-decoration: none;
}

.listNav {
  list-style: none;
}

.footer {
  text-align: center;
  padding: 20px;
  border-top: 2px solid black;
  color: white;
  background: #141414;
}

.not-found {
  text-align: center;
}

.not-found a{
  color: #4979ff;
  text-decoration: underline;
}

a {
  color: white;
  background: #282b30;
}

html {
  color-scheme: dark;
}

@media (min-width: 1024px) {
  .text {
    font-family: "Noto Sans JP";
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 25px;
  }

  .pretty {
    color: black;
    background-color: #E8E8E8;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #555555;
  }

  .heading {
    font-family: "Montserrat Alternates";
    width: fit-content;
    background-color: #966fd6;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
  }

}

@media (max-width: 1023px) {
  .text {
    font-family: "Noto Sans JP";
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
  }

  .pretty {
    color: black;
    background-color: #D3D3D3;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #555555;
  }

  .heading {
    font-family: "Montserrat Alternates";
    width: fit-content;
    background-color: #966fd6;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
  }

  footer {
    margin-top: 25px;
  }
}