@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  padding: 0;
  margin: 0;
  font-family: "Yuji Syuku", sans-serif;
  color: white;
  background: #282b30;
}

a {
  color: #333;
  text-decoration: none;
}

.listNav {
  list-style: none;
}

.footer {
  text-align: center;
  padding: 20px;
  border-top: 2px solid black;
  color: white;
  background: #141414;
}

a {
  color: white;
  background: #282b30;
}

html {
  color-scheme: dark;
}

@media (min-width: 1024px) {
  .text {
    font-family: "Yuji Syuku", sans-serif;
    letter-spacing: -2px;
    word-spacing: 2px;
    line-height: 1.5;
    font-size: 1.2rem;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 25px;
  }

  .pretty {
    color: black;
    background-color: #E8E8E8;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #555555;
  }

  .heading {
    font-family: "Yuji Syuku", sans-serif;;
    width: fit-content;
    color: white;
    padding: 5px;
  }

  .blogheading {
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }

  table, td {
    background-color: lightgray;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    border-width: medium;
    border-style: solid;
    border-color: #a9a9a9;
  }
  
  th {
    background-color: lightgray;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    border-width: medium;
    border-style: solid;
    border-color: #7f7f7f;
  }
}

@media (max-width: 1023px) {
  .text {
    letter-spacing: -1.5px;
    word-spacing: 2px;
    line-height: 1.5;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
  }

  .pretty {
    color: black;
    font-size: 90%;
    background-color: #D3D3D3;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #555555;
    opacity: 1;
    transition: opacity 1s ease-in;
    margin: 20px;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
  }

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .heading {
    overflow: hidden;
    white-space: nowrap;
    width: fit-content; /* or however long your text is */
    padding: 10px;
    color: white;
    border-radius: 10px;
    animation: typing 2s steps(20, end), blink-caret 0.75s step-end infinite;
  }

  .blogheading {
    font-weight: bold;
    text-align: left;
    margin: 0px;
    padding: 0px;
  }

  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  footer {
    margin-top: 25px;
  }

  table, td {
    background-color: lightgray;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    border-width: medium;
    border-style: solid;
    border-color: #a9a9a9;
    margin: 5px;
  }
  
  th {
    background-color: lightgray;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    border-width: medium;
    border-style: solid;
    border-color: #7f7f7f;
  }

  li {
    font-size: 14px;
    padding-bottom: 5px;
  }

  ul {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 12px;
  }

  Image {
    display: block;
    margin: auto;
  }
}