@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku:wght@300;400;500;600;700&family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

.navbar {
  opacity: 80%;
  background: #1e2124;
  border-bottom: solid black;
  border-width: 1px;
}

.navbar a {
  background: #1e2124;
}

.navbar h1 {
  color: white;
}

.card {
  background: gray;
  border-radius: 12px;
  padding: 10px;
  transition: 200ms, border 200ms;
}

.navbar {
  border-width: 1px;
  font-family: "Yuji Syuku", sans-serif;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 40px;
  align-items: center;
  width: 100%;
}

.navbar h1 {
  font-size: 20px;
  padding-left: 5px;
  color: #ffffff;
}

.navbar .links {
  font-size: 20px;
  display: flex;
  gap: 4rem;
}

.grid {
  gap: 10px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 200px));
  margin-bottom: 20px;
}

.card span {
  color: darkgray;
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-size: 20px;
}

.card:hover {
  background: black;
}

.card:hover span {
  transform: translateX(4px);
}

@media (max-width: 1023px) {
  .navbar {
    font-size: 0.8rem;
  }

  .navbar .links {
    font-size: 16px;
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .navbar a {
    display: none;
    color: white;
    background: #1e2124;
  }

  .grid {
    gap: 5px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 100px));
  }

  .card {
    padding: 10px;
    font-size: 12px;
  }

  .card h2 {
    font-size: 12px;
  }

  .card p {
    font-size: 12px;
  }
}