.markdown-body h1 {
    color: rgb(40, 40, 255);
}

.markdown-body h2 {
    color: rgb(159, 0, 165);
}

.markdown-body h3 {
    color: rgb(0, 110, 0);
}

.markdown-body h4 {
    color: rgb(132, 0, 255);
}

.markdown-body h5 {
    color: rgb(132, 0, 255);
}

.markdown-body p {
    color: rgb(0, 0, 0);
    background-color: rgb(196, 196, 196);
    max-width: fit-content;
    padding: 0.75rem;
    border-radius: 1rem;
}

.markdown-body ul {
    width: fit-content;
    padding-right: 1rem;
    border-radius: 1rem;
}

.markdown-body ul li:nth-child(1n) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.markdown-body ul li ul li:nth-child(1n) {
    padding-top: 1rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}


.markdown-body code {
    font-size: 0.8rem;
    max-width: 60%;
    border: 1px solid black;
    display: block; /* Ensures it behaves like a block element */
    white-space: pre; /* Preserves formatting */
    overflow-x: auto; /* Enables horizontal scrolling */
    overflow-y: auto; /* Enables vertical scrolling */
    max-height: 15rem; /* Adjust height as needed */
    background-color: #3b3b3b; /* Optional: Background color */
    color: rgb(205, 255, 251);
    padding: 1rem; /* Optional: Padding for better readability */
    border: 0.1rem solid black; /* Optional: Border for better visibility */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
}    

.markdown-body ul .katex {
    font-family: 'Georgia';
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    font-size: 1rem;
}

.markdown-body a {
    margin: 5px;
    background-color: #aaaaaa;
    padding: 5px 10px;
    border-radius: 8px; /* rounded corners */
    color: black;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }
  
  .markdown-body a:hover {
    background-color: #e0e0e0; /* slightly darker gray on hover */
  }

  .markdown-body img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 1023px) {
    .markdown-body p {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        min-width: fit-content;
    }

    .markdown-body ul {
        background-color: transparent;
        max-width: 90%;
        padding-bottom: 0.2rem;
        padding-top: 0.6rem;
    }

    ul li ul li:nth-child(1n) {
        margin-top: 0.2rem;
        font-weight: bold;
        color: rgb(44, 44, 44);
    }

    .markdown-body code {
        font-size: 0.8rem;
        max-width: 100%;
        display: block; /* Ensures it behaves like a block element */
        white-space: pre; /* Preserves formatting */
        overflow-x: auto; /* Enables horizontal scrolling */
        overflow-y: auto; /* Enables vertical scrolling */
        max-height: 15rem; /* Adjust height as needed */
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
    }    
    
    .katex-display {
        overflow-x: auto;
        padding: 0.5rem;
    }

}