.katex-display {
    text-align: left !important; /* Align block equations to the left */
    font-size: 24px;
}
  
.katex {
    text-align: left !important; /* Align inline equations to the left */
    font-size: 24px;
}

.markdown-body a {
    margin: 5px;
    background-color: #aaaaaa;
    padding: 5px 10px;
    border-radius: 8px; /* rounded corners */
    color: black;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }
  
  .markdown-body a:hover {
    background-color: #e0e0e0; /* slightly darker gray on hover */
  }

  .markdown-body img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 1023px) {
    h1, h2, h3, h4, h5, h6 {
        text-align: left;
    }

    code {
        font-size: 12px;
        max-width: 100%;
        display: block; /* Ensures it behaves like a block element */
        white-space: pre; /* Preserves formatting */
        overflow-x: auto; /* Enables horizontal scrolling */
        overflow-y: auto; /* Enables vertical scrolling */
        max-height: 200px; /* Adjust height as needed */
        background-color: #f4f4f4; /* Optional: Background color */
        padding: 10px; /* Optional: Padding for better readability */
        border: 1px solid #ddd; /* Optional: Border for better visibility */
        border-radius: 10px;
    }    
    
    .katex-display {
        text-align: left !important; /* Align block equations */
        font-size: 100%;
        font-weight: bold;
        max-width: 100%;
        
        /* Prevent overflow */
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal !important;
        display: block;
        
        /* Force line breaks */
        overflow-x: auto; /* Allow horizontal scrolling if needed */
    }
    
    .katex {
        text-align: left !important;
        font-size: 100%;
        font-weight: bolder;
        max-width: 100%;
        
        /* Prevent overflow */
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal !important;
        display: inline-block;
        
        /* Force wrapping for inline math */
        overflow-x: auto;

        vertical-align: middle; /* Ensures inline equations align with text */
    }

    .markdown-body p {
        text-align: left;
        margin-left: 5px;
        margin-right: 5px;
    }

    li {
        margin-left: 10px;
        margin-right: 10px;
    }
}